@model Summitworks_EventManager.ViewModels.HomeDetailsViewModel
@{
    ViewBag.Title = "Event Details";
}
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Event.EventName</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/events.png" />

                <h4>Event ID : @Model.Event.ID</h4>
                <h4>Category : @Model.Event.EventCategory</h4>
                <h4>Organizer : @Model.Event.Organizer</h4>
                <h4>Location</h4>
                <h4>Address : @Model.Event.Address</h4>
                <h4>City : @Model.Event.City</h4>
                <h4>State : @Model.Event.State</h4>
                <h4>ZIP Code : @Model.Event.ZipCode</h4>
                <h4>Description : </h4>
                <h4>@Model.Event.EventDescription</h4>
                <h4>Date & Time : @Model.Event.EventDateTime</h4>
                
                <h4>Status : @Model.Event.Status</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>